{erl_opts, [debug_info]}.

{require_otp_vsn, "19"}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "1.1.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}}
]}.

{relx, [{release, { observerweb, "0.1.1" },
         [observerweb,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, 
				[{relx, 
					[{dev_mode, false},
                     {include_erts, true}
                     ]
                 }]
            }]
}.

