{require_min_otp_vsn, "R?1[78]"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [warn_export_all, warn_unused_import, {i, "include"}, {src_dirs, ["src"]}]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{sub_dirs, ["rel"]}.

{deps,
  [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "3.0.2"}},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.4"}}
  ]
}.
