[
  {lager, [
    {log_root, {{app_config_lager_log_dir}} },
    {crash_log, "crash.log"},
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
      {lager_file_backend, [{file, "observerweb.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
    ]}
  ]}
].
